<section class="main">

  <div class="searchbox">
    <form>
      <mat-form-field>
        <input #seachInput matInput placeholder="Search a sub reddit =)" (keyup)="onSearch(seachInput.value)">
      </mat-form-field>
    </form>

  </div>

  <div class="feeds-list" infiniteScroll [infiniteScrollDistance]="0.1" [infiniteScrollThrottle]="500"
    (scrolled)="onScroll()">

    <h3 *ngIf="!subReddit && !isLoading"> No subreddit found =(</h3>

    <mat-spinner *ngIf="isLoading"></mat-spinner>


    <mat-card class="feed" *ngFor="let item of subReddit?.feeds;">
      <mat-card-header>
        <mat-card-title>{{ item.title }}</mat-card-title>
        <mat-card-subtitle>{{ item.author }}</mat-card-subtitle>
      </mat-card-header>
      <img *ngIf="item.thumbnail" class="thumb" mat-card-image [src]="item.thumbnail" alt="image">
      <mat-card-content>

        <p>{{item.text}}</p>
        <p><a [href]="item.url" target="_blank"> {{ item.permalink }} </a></p>

      </mat-card-content>
      <mat-card-footer>

        <div class="icons_row">
          
          <div matTooltip="Up votes">
            <mat-icon>expand_less</mat-icon>
            <span>{{ item.upVotes }}</span>
          </div>

          <div class="date">
            <mat-icon>date_range</mat-icon>
            <span>{{ item.date | date: 'short' }}</span>
          </div>
        </div>
      
      </mat-card-footer>
    </mat-card>

  </div>
</section>