section.main {
  padding: 25px;

  div.searchbox {
    margin-bottom: 5em;

     mat-form-field {
       width: 100%;
     }
  }

  div.feeds-list {
    
    mat-spinner {
      position: fixed;
      z-index: 1;
      bottom: 100px;
      right: 3%;
    }

    .feed { 
      margin: 5px;
      
      img.thumb {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 60%;
      }

      mat-card-footer {
        padding: 16px;

        div.icons_row {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          
          div {
            display: flex;
            span {
              align-self: center
            }
          }
        }
      }
    }
  }
}
